<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [mode]="isMobile() ? 'over' : 'side'">
    
    <mat-nav-list>
        <a routerLink="home" mat-list-item>Inicio</a>
        <a routerLink="users" mat-list-item>Usuarios</a>
        <a routerLink="products" mat-list-item>Productos</a>
        <a routerLink="sales" mat-list-item>Ventas</a>
        <a (click)="logout()" mat-list-item>Cerrar sesion</a>
      </mat-nav-list>
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>
          <button 
            (click)="drawer.toggle()"
            mat-icon-button 
            class="example-icon" 
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>My Application</span>
          <div>
            <div *ngIf="authUserSinPipe">{{ authUserSinPipe.firstName}}</div>
            <!-- <ng-container *ngIf="authUser$ | async as user">
              <div>{{user?.firstName}}</div>
            </ng-container> -->
          </div>
        </div>
      </div>
    </mat-toolbar>

    <main style="padding: 1rem;">
      <!-- <button (click)="login()" color="primary" mat-flat-button>Iniciar Sesion</button>
      <button (click)="logout()" color="warn" mat-flat-button>Cerrar Sesion</button>
      <app-clase-10-rxjs-2></app-clase-10-rxjs-2> -->

      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>


